In [2]:
import numpy as np 
import pandas as pd

In [3]:
data = pd.read_csv("Total.csv")

C:\Users\nites\AppData\Local\Temp\ipykernel_17212\4280927128.py:1: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("Total.csv")

In [4]:
print(data)

              EmployeeName                                        JobTitle  \
0           NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1             GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2           ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3        CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4          PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...                    ...                                             ...
312877     Daniel W Plautz                          Public Service Trainee
312878    David J Thompson                                  Deputy Sheriff
312879  Keiko Weng Yee Lau                          Public Service Trainee
312880          David Wong                                  Deputy Sheriff
312881     Debora E Howard                               Recreation Leader

          BasePay OvertimePay   OtherPay      Benefits   TotalPay  \
0       167411.18         0.0  400184.25  Not Provided  567595.43
1       155966.02   245131.88  137811.38  Not Provided  538909.28
2       212739.13   106088.18    16452.6  Not Provided  335279.91
3         77916.0    56120.71   198306.9  Not Provided  332343.61
4        134401.6      9737.0  182234.59  Not Provided  326373.19
...           ...         ...        ...           ...        ...
312877        0.0         0.0        0.0           0.0       0.00
312878        0.0         0.0        0.0           0.0       0.00
312879        0.0         0.0        0.0           0.0       0.00
312880        0.0         0.0        0.0           0.0       0.00
312881        0.0         0.0        0.0           0.0       0.00

        TotalPayBenefits  Year
0              567595.43  2011
1              538909.28  2011
2              335279.91  2011
3              332343.61  2011
4              326373.19  2011
...                  ...   ...
312877              0.00  2018
312878              0.00  2018
312879              0.00  2018
312880              0.00  2018
312881              0.00  2018

[312882 rows x 9 columns]

In [5]:
print(data.shape)

(312882, 9)

In [6]:
data.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312882 entries, 0 to 312881
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      312882 non-null  object
 1   JobTitle          312882 non-null  object
 2   BasePay           312882 non-null  object
 3   OvertimePay       312882 non-null  object
 4   OtherPay          312882 non-null  object
 5   Benefits          312882 non-null  object
 6   TotalPay          312882 non-null  float64
 7   TotalPayBenefits  312882 non-null  float64
 8   Year              312882 non-null  int64
dtypes: float64(2), int64(1), object(6)
memory usage: 21.5+ MB